@import url("./banner.css");

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FFD700;
    --third-color: #000000;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
	padding: 0;
    border: 0;
    color: var(--primary-color);
    background-color: var(--third-color);
}

.current-page {
    border-left: 0.1rem solid var(--secondary-color);
    border-right: 0.1rem solid var(--secondary-color);
    border-radius: 0.5rem;
}

.current-page a{
    color: var(--secondary-color);
}

.card-selector {
    border: 0.3rem solid var(--secondary-color);
    border-radius: 0.5rem;
    width: 25rem;
}

.cover-img {
    border: 0.1rem solid var(--primary-color);
    border-radius: 1rem;
    height: 50%;
    width: 90%;
}